@{
    ViewData["Title"] = "About Us";
}
<h2>About us</h2>
<hr />
<p>
    Sydney Hotel Event Management is an award winning event management and event management company. 
    Our full service, versatile finesse and administration make our venue the ideal starting point for all party style. 
    Through imaginative structure and perfect execution, we create premier and unique events, all sizes and styles being the same.
</p>
<p>
    For a long time, our capable, experienced group has aced incalculable festivals,
    weddings, corporate occasions, birthday celebrations, meals and that’s only the tip of the iceberg.
    Regardless of whether your gathering or event is a corporate meeting, fantastic opening, 
    acknowledgment event, or item dispatch, you can confide in our expert organizers to make your extraordinary 
    event an important accomplishment through our uncommon event arranging administrations.
</p>
<br />
<h2>Our services</h2>
<hr />
<div class="container">
    <div class="row text-secondary">
        <div class="col-md-4 text-center">
            <h4>Weddings</h4>
            <img src="~/images/wedding.jpg" class="aboutus-image" alt=""/>
            <p>With every last detail taken care of, we can ensure your big day is effortless and unforgettable</p>
        </div>
        <div class="col-md-4 text-center">
            <h4>Birthdays</h4>
            <img src="~/images/birthday.jpg" class="aboutus-image" alt=""/>
            <p>From your wedding celebration to an epic surprise birthday party, you dream it and we will make your vision a reality</p>
        </div>
        <div class="col-md-4 text-center">
            <h4>Corporate Events</h4>
            <img src="~/images/corporate.jpg" class="aboutus-image" alt=""/>
            <p>Wow your guest with a unique event that aligns with your company's vision</p>
        </div>
    </div>
</div>