@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="p-5 text-center bg-image rounded-3 image-jumbotron">
            <div class="mask">
                <div class="d-flex justify-content-center align-items-center h-100 ">
                    <div class="text-white">
                        <h1 class="mb-3">Event Management</h1>
                        <h4 class="mb-3">Sydney Hotel</h4>
                        <a class="btn btn-outline-light btn-lg" asp-controller="Home" asp-action="AboutUs" role="button">About us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<br /><br />

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S No.</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Roll No.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Showrnim manandhar</td>
                    <td>12100709</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Gunraj kandel</td>
                    <td>12100764</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Santosh Gurung</td>
                    <td>12001256</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
